// Colors
$black: #000 !default;

// Border
$base-border-color: #dfe0e1 !default;
$base-border: 1px solid $base-border-color !default;

// Transitions
$base-duration: 250ms !default;
$base-timing: ease-in-out !default;
